* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slider-wrapper {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100vw;
  height: 100vh;
}

.slider {
  display: flex;
  scroll-behavior: smooth;
  overflow: hidden;
}

.slider__slide {
  border: 2px solid #523e3e;
  min-width: 100%;
  transition: 1s ease;
}

.slider__img {
  min-width: 100%;
}

.slider__controls {
  display: flex;
  justify-content: center;
}

.slider__text {
  display: flex;
  scroll-behavior: smooth;
  overflow: hidden;
  flex-grow: 7;
}

.text {
  min-width: 100%;
  transition: 1s ease;
}

.slider__content {
  display: flex;
  flex-grow: 3;
}

/* =================================================================*/
/* .slider__input {
  display: none;
}

.slider__input#1:checked .slider__slide {
  margin-left: 0;
}

.slider__input#2:checked .slider__slide {
  margin-left: -100%;
} */

#item-2:checked ~ .slider > .slider__slide {
  transform: translate(-100%);
}
#item-1:checked ~ .slider > .slider__slide {
  transform: translate(0);
}
#item-2:checked ~ .slider__content .text {
  transform: translate(-100%);
}
#item-1:checked ~ .slider__content .text {
  transform: translate(0);
}
